<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
</head>
<body>
<a href="/admin/dashboard">
  <button>Dashboard</button>
</a>
<a href="/admin/viewpharmacies">
  <button>Pharmacies</button>
</a>
<a href="/admin/removecustomers">
  <button>Customers</button>
</a>
<a href="/admin/removemedicine">
  <button>Medicine & Groceries</button>
</a>
<a href="/admin/viewads">
  <button>Ads</button>
</a>
<a href="/admin/settings">
  <button>Application Settings</button>
</a>
<a href="/admin/technicalhelp">
  <button>Get Technical help</button>
</a>
<a href="/logout">
  <button>Logout</button>
</a>
<h1>Admin Settings</h1>
</body>
</html>