*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70%;
}
.Links{
    flex: 1;
    text-align: right;
}
.Links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.Links ul li a{
    color: #3f3f3f;
    text-decoration: none;
    font-size: 15px;
}
.Links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #068B2E;
    display: block;
    margin: auto;    
}
.Links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.type2{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-120%);
}
.dropmenu1 .fa{
    margin-right: 8px;
}
.dropmenu1{
    display: none;
}
.Links ul li:hover .dropmenu1{
    display: block;
    position: absolute;
    background: #068B2E;
    margin-top: 15px;
    margin-left: -15px;
}
.Links ul li:hover .dropmenu1 ul{
    display: block;
    margin: 10px;
}
.dropmenu2 .fa{
    margin-right: 8px;
}
.dropmenu2{
    display: none;
}
.Links ul li:hover .dropmenu2{
    display: block;
    position: absolute;
    background: #068B2E;
    margin-top: 15px;
    margin-left: -15px;
}
.Links ul li:hover .dropmenu2 ul{
    display: block;
    margin: 10px;
}
.image img{
    margin-top:50px;
}



















