*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70%;   
}
.Links{
    flex: 1;
    text-align: right;
}
.Links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.Links ul li a{
    color: #3f3f3f;
    text-decoration: none;
    font-size: 15px;
}
.Links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #068B2E;
    display: block;
    margin: auto;    
}
.Links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.type2{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-120%);
}

.dropmenu2 .fa{
    margin-right: 8px;
}
.dropmenu2{
    display: none;
}
.Links ul li:hover .dropmenu2{
    display: block;
    position: absolute;
    background: #068B2E;
    margin-top: 15px;
    margin-left: -15px;
}
.Links ul li:hover .dropmenu2 ul{
    display: block;
    margin: 10px;
}
.text-box h1{
    width: 90%;
    position: relative;
    top: 70px;
    left:15%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 65px;
}

button[id=log]{
    border: #068B2E;
    background-color: #d5ffe2;
    color: #f9f9f9;
}
input[id=logb]{
    width: 100px;
    border-radius: 15px;
    padding: 10px;
    font-size: 12pt;
    margin-left: 150px;
    margin-top: 20px;
    border: #068B2E;
    background-color: #068B2E;
    color: #f9f9f9;
    cursor: pointer;
}
#accreg{
    font-size: 15px;
    margin-left: 15%;
    margin-top: 10px;
    text-decoration: none;
}

.form{
    position: absolute;
    width: 450px;
    height: 100px;
    top: 290px;
    left: 9.3%;
    margin-top: 10px;
}
input[id=registrationId],[id=password]{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #068b2e;
}

input[id=logpng]{
    position: relative;
    width: 500px;
    margin-right: 150px;
    float: right;
}