<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style/aboutus.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family=Poppins:wght@100;200;300;400;600;700&display+swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body background="images/aboutUs/Background1.png">
<section class="header">
    <nav>
        <a href="/index"><img src="images/loginSignup/Logo2.png"></a>
        <div class="Links">
            <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/login">Log in</a></li>
                <ul class="dropmenu2">
                    <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true">Log in as Admin</i></a></li>
                    <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true">Log in as Pharmacist</i></a></li>
                </ul>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <div class="text-box">
        <h1>About Us</h1>
        <p>Noobz69 is a  team that comprise of ten members that was orignitated to find and develop best<br> solutions from the existing problems that people face.</p>
    </div>
</section>
<section class="Team">
    <div class="image">
        <img src="images/aboutUs/Group97.png" alt="Team" class="type1 type2">
    </div>
</section>
</body>
</html>