<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <section class="header">
        <nav>
            <a href="/"><img src="/images/index/Logo2.png"></a>
            <div class="Links">
                <ul>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <!--                <ul class="dropmenu1">-->
                    <!--                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>ophlk@gmail.com</a></li>-->
                    <!--                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>011 234 5678</a></li>-->
                    <!--                </ul>-->
                    <li><a href="/login">Log in</a></li>
                    <!--                        <ul class="dropmenu2">-->
                    <!--                            <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true">Log in as Admin</i></a></li>-->
                    <!--                            <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true">Log in as Pharmacist</i></a></li>-->
                    <!--                        </ul>-->
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </div>
        </nav>
    </section>
</div>