<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="style/signup.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family=Poppins:wght@100;200;300;400;600;700&display+swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body background="images/loginSignup/Background1.png">
<section class="header">
    <nav>
        <a href="index"><img src="images/loginSignup/Logo2.png"></a>
        <div class="Links">
            <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/login">Log in</a></li>
                <ul class="dropmenu2">
                    <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true">Log in as Admin</i></a></li>
                    <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true">Log in as Pharmacist</i></a></li>
                </ul>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </nav>
    <div class="text-box">
        <h1>Signup</h1>
    </div>
    <div class="form">
        <form action="#" th:action="@{/signup}" th:object="${signupDetails}" method="post">
            <label for="pharmacyName">Name of pharmacy:</label><br>
            <input type="text" required id="pharmacyName" name="pharmacyName" th:field="*{pharmacyName}" placeholder="Enter the name of the pharmacy.."><br>

            <label for="ownerName">Owner of the Pharmacy:</label><br>
            <input type="text" required id="ownerName" name="ownerName" th:field="*{ownerName}" placeholder="Enter owner's name.."><br>

            <label for="registrationId">Registration ID:</label><br>
            <input type="text" required id="registrationId" name="registrationId" th:field="*{registrationId}" placeholder="Enter pharmacy registration ID.."><br>

            <label for="contactNo">Contact No:</label><br>
            <input type="text" required id="contactNo" name="contactNo" th:field="*{contactNo}" placeholder="Enter contact number.."><br>
            <div class="selectprov">
                <label for="province">Province:</label><br>
                <select name="province" required id="province" th:field="*{province}">
                    <option value="Central">Central</option>
                    <option value="Eastern">Eastern</option>
                    <option value="Northern">Northern</option>
                    <option value="North Central">North Central</option>
                    <option value="North Western">North Western</option>
                    <option value="Sabaragamuwa">Sabaragamuwa</option>
                    <option value="Southern">Southern</option>
                    <option value="Uva">Uva</option>
                    <option value="Western">Western</option>
                </select>
            </div>
            <div class="selectdist">
                <label for="district">District:</label><br>
                <select name="district" required id="district" th:field="*{district}">
                    <option value="Ampara">Ampara</option>
                    <option value="Anuradhapura">Anuradhapura</option>
                    <option value="Badulla">Badulla</option>
                    <option value="Batticaloa">Batticaloa</option>
                    <option value="Colombo">Colombo</option>
                    <option value="Galle">Galle</option>
                    <option value="Gampaha">Gampaha</option>
                    <option value="Hambanthota">Hambanthota</option>
                    <option value="Jaffna">Jaffna</option>
                    <option value="Kalutara">Kalutara</option>
                    <option value="Kandy">Kandy</option>
                    <option value="Kegalle">Kegalle</option>
                    <option value="Kilinochchi">Kilinochchi</option>
                    <option value="Kurunegala">Kurunegala</option>
                    <option value="Mannar">Mannar</option>
                    <option value="Matale">Matale</option>
                    <option value="Matara">Matara</option>
                    <option value="Monaragala">Monaragala</option>
                    <option value="Mullativu">Mullativu</option>
                    <option value="Nuwara-Eliya">Nuwara-Eliya</option>
                    <option value="Polonnaruwa">Polonnaruwa</option>
                    <option value="Puttalam">Puttalam</option>
                    <option value="Ratnapura">Ratnapura</option>
                    <option value="Trincomalee">Trincomalee</option>
                    <option value="Vavuniya">Vavuniya</option>
                </select>
            </div>
            <div class="selectcity">
                <label for="city">City:</label><br>
                <select name="city" required id="city" th:field="*{city}">
                    <option value="Ambalangoda">Ambalangoda</option>
                    <option value="Ampara">Ampara</option>
                    <option value="Anuradapura">Anuradapura</option>
                    <option value="Avissawella">Avissawella</option>
                    <option value="Badulla">Badulla</option>
                    <option value="Balangoda">Balangoda</option>
                    <option value="Bandaragama">Bandaragama</option>
                    <option value="Bandarawela">Bandarawela</option>
                    <option value="Battaramulla">Battaramulla</option>
                    <option value="Batticaloa">Batticaloa</option>
                    <option value="Beruwala">Beruwala</option>
                    <option value="Boralesgamuwa">Boralesgamuwa</option>
                    <option value="Chavakacheri">Chavakacheri</option>
                    <option value="Chilaw">Chilaw</option>
                    <option value="Colombo">Colombo</option>
                    <option value="Dambulla">Dambulla</option>
                    <option value="Dankotuwa">Dankotuwa</option>
                    <option value="Dehiwala-Mount-Lavinia">Dehiwala-Mount-Lavinia</option>
                    <option value="Divulapitiya">Divulapitiya</option>
                    <option value="Dompe">Dompe</option>
                    <option value="Eheliyagoda">Eheliyagoda</option>
                    <option value="Embilipitiya">Embilipitiya</option>
                    <option value="Eravur">Eravur</option>
                    <option value="Galle">Galle</option>
                    <option value="Gampaha">Gampaha</option>
                    <option value="Gampola">Gampola</option>
                    <option value="Ganemulla">Ganemulla</option>
                    <option value="Hambantota">Hambantota</option>
                    <option value="Hanwella">Hanwella</option>
                    <option value="Haputale">Haputale</option>
                    <option value="Harispattuwa">Harispattuwa</option>
                    <option value="Hatton">Hatton</option>
                    <option value="Hendala">Hendala</option>
                    <option value="Homagama">Homagama</option>
                    <option value="Horana">Horana</option>
                    <option value="Jaffna">Jaffna</option>
                    <option value="Ja-Ela">Ja-Ela</option>
                    <option value="Kadawatha">Kadawatha</option>
                    <option value="Kadugannawa">Kadugannawa</option>
                    <option value="Kaduwela">Kaduwela</option>
                    <option value="Kalawana">Kalawana</option>
                    <option value="Kalmunai">Kalmunai</option>
                    <option value="Kalutara">Kalutara</option>
                    <option value="Kandana">Kandana</option>
                    <option value="Kandy">Kandy</option>
                    <option value="Kattankudy">Kattankudy</option>
                    <option value="Katunayake">Katunayake</option>
                    <option value="Kegalle">Kegalle</option>
                    <option value="Kelaniya">Kelaniya</option>
                    <option value="Kesbewa">Kesbewa</option>
                    <option value="Keselwatta">Keselwatta</option>
                    <option value="Kilinochchi">Kilinochchi</option>
                    <option value="Kiribathgoda">Kiribathgoda</option>
                    <option value="Kolonnawa">Kolonnawa</option>
                    <option value="Kotikawatta">Kotikawatta</option>
                    <option value="Kottawa">Kottawa</option>
                    <option value="Kotte">Kotte</option>
                    <option value="Kuliyapitiya">Kuliyapitiya</option>
                    <option value="Kurunegala">Kurunegala</option>
                    <option value="Maharagama">Maharagama</option>
                    <option value="Mahiyanganaya">Mahiyanganaya</option>
                    <option value="Malabe">Malabe</option>
                    <option value="Mannar">Mannar</option>
                    <option value="Marawila">Marawila</option>
                    <option value="Matale">Matale</option>
                    <option value="Matara">Matara</option>
                    <option value="Matugama">Matugama</option>
                    <option value="Mawanella">Mawanella</option>
                    <option value="Minuwangoda">Minuwangoda</option>
                    <option value="Mirigama">Mirigama</option>
                    <option value="Moneragala">Moneragala</option>
                    <option value="Moratuwa">Moratuwa</option>
                    <option value="Mullaitivu">Mullaitivu</option>
                    <option value="Mulleriyawa">Mulleriyawa</option>
                    <option value="Nattandiya">Nattandiya</option>
                    <option value="Nawalapitiya">Nawalapitiya</option>
                    <option value="Nawala">Nawala</option>
                    <option value="Negombo">Negombo</option>
                    <option value="Nittambuwa">Nittambuwa</option>
                    <option value="Nugegoda">Nugegoda</option>
                    <option value="Nuwara-Eliya">Nuwara-Eliya</option>
                    <option value="Padukka">Padukka</option>
                    <option value="Panadura">Panadura</option>
                    <option value="Pannala">Pannala</option>
                    <option value="Pannipitiya">Pannipitiya</option>
                    <option value="Peliyagoda">Peliyagoda</option>
                    <option value="Piliyandala">Piliyandala</option>
                    <option value="Polgahawela">Polgahawela</option>
                    <option value="Polonnaruwa">Polonnaruwa</option>
                    <option value="Puttalam">Puttalam</option>
                    <option value="Ragama">Ragama</option>
                    <option value="Ratnapura">Ratnapura</option>
                    <option value="Sigiriya">Sigiriya</option>
                    <option value="Talawakele">Talawakele</option>
                    <option value="Tangalle">Tangalle</option>
                    <option value="Trincomalee">Trincomalee</option>
                    <option value="Valvettithurai">Valvettithurai</option>
                    <option value="Vavuniya">Vavuniya</option>
                    <option value="Veyangoda">Veyangoda</option>
                    <option value="Warakapola">Warakapola</option>
                    <option value="Wattala">Wattala</option>
                    <option value="Wattegama">Wattegama</option>
                    <option value="Weligama">Weligama</option>
                    <option value="Welimada">Welimada</option>
                    <option value="Welisara">Welisara</option>
                    <option value="Wennappuwa">Wennappuwa</option>
                </select>
            </div><br>
            <label for="imageUrl">Image URL:</label><br>
            <input type="text" required id="imageUrl" name="imageLink" th:field="*{imageUrl}" placeholder="Enter image link for profile picture.."><br>

            <label for="password">Password:</label><br>
            <input type="password" required id="password" name="password" th:field="*{password}" placeholder="Enter a password.."><br>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="password" required id="confirmPassword" name="confirmPassword" placeholder="Re-enter your password.." th:field="*{confirmPassword}"><br>
            <input id="regb" type="submit" value="Register">
        </form>
        <br>
    </div>
    <div class="signimg">
        <input id="signpng" type="image" src="images/loginSignup/signupImage.png">
    </div>
    <p id="accreg">Already have an account? <a href="/login" style="color:dodgerblue">Login</a>.</p>
</body>
</html>