<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title th:text="${medicine.medicineName}"></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/style/viewMedicine.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>
<body style="margin-top:0px;margin-left:0px;">
<div class="body" style="display:flex;flex-direction: row;">

  <div class="side-bar" style="background-color: #F2F2F2;width:290px;">

    <div class="logo" style="margin-bottom: 20px;">
      <img src="/images/viewMedicine/Logo2.png" alt="logo">
    </div>

    <a href=""></a>
    <div class="menu-container">
      <div class="menu-item">
        <a href="/pharmacy/dashboard">
          <img src="/images/viewMedicine/Vector (1).png" style="vertical-align: middle;margin-right:10px;">
          <div class="item-des">Dashboard</div>
        </a>
      </div>

      <div class="menu-item-i">
        <a href="/pharmacy/viewinventory">
          <img src="/images/viewMedicine/Vector.png" style="vertical-align: middle;margin-right:10px;">
          <div class="item-des" style="color: white;font-weight: 400;">Inventory
          </div>

          <div class="drop-down" style="vertical-align: middle;">
            <img src="/images/viewMedicine/Vector-down.png">
          </div>
        </a>
      </div>

      <div class="menu-item">
        <a href="/pharmacy/settings">
          <img src="/images/viewMedicine/Vector (2).png" style="vertical-align: middle;margin-right:10px;margin-left: 0px;">
          <div class="item-des">Settings</div>
        </a>
      </div>

      <div class="menu-item">
        <a href="/pharmacy/viewprescriptions">
          <img src="/images/viewMedicine/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
          <div class="item-des">Prescriptions</div>
        </a>
      </div>

      <div class="menu-item">
        <a href="/pharmacy/viewpharmacy">
          <img src="/images/viewMedicine/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
          <div class="item-des">Pharmacy</div>
        </a>
      </div>

      <div class="menu-item">
        <a href="/pharmacy/vieworders">
          <img src="/images/viewMedicine/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
          <div class="item-des">Orders</div>
        </a>
      </div>

<!--      <div class="menu-item">-->
<!--        <a href="/pharmacy/chat">-->
<!--          <img src="/images/viewMedicine/Vector (4).png" style="vertical-align: middle;margin-right:10px;">-->
<!--          <div class="item-des">Chat with Customers</div>-->
<!--        </a>-->
<!--      </div>-->

      <div class="menu-item">
        <a href="/pharmacy/technicalhelp">
          <img src="/images/viewMedicine/Vector (5).png" style="vertical-align: middle;margin-right:10px;">
          <div class="item-des">Get Technical Help</div>
        </a>
      </div>

      <div class="menu-item">
        <a href="/logout">
          <img src="/images/viewMedicine/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
          <div class="item-des">Logout</div>
        </a>
      </div>
<!--    </div>-->
  </div>

  <div class="footer">
    <img class="footer-image"
         src="/images/viewMedicine/Powered by Noobz69.png">
  </div>
</div>



<div class="page-content" style=
        " flex: 1;
       height: 100%;
       position: relative;
     "
>
  <img class ="bg-pic"src="/images/viewMedicine/Background.png">


  <div class="header">
    <div class="middle-section">
      <input class="bar" type="text"
             placeholder="Search for anything here..">
    </div>

    <div class="right-section">
      <img class="user-name" src="/images/viewMedicine/User.png"
           style="object-fit:cover;">

      <img class="user-img" src="/images/viewMedicine/noun-login-728843 1.png"
           style="object-fit:cover;">

      <img class="notifications-img" src="/images/viewMedicine/Rectangle 83.png"
           style="object-fit:cover;">


    </div>
  </div>
  <div class="des-panel">
    Inventory

    <div class="arrow-btn">
      <img src="/images/viewMedicine/arrow-left.png" alt="" style="
                        color: #1D242E;
                        margin-left: 10px;
                        margin-right: 10px;">
    </div>

    List of Medicines


    <img src="/images/viewMedicine/arrow-left.png" alt="" style="
                        color: #1D242E;
                        margin-left: 10px;
                        margin-right: 10px;">

    <div style="
                        display: inline-block;
                        color: #1D242E;" th:text="${medicine.medicineName}">
    </div>
  </div>

  <div class="des-panel2">
    List Of medicines (Available and Currently Unavailable)
  </div>
  <a href="/pharmacy/addmedicine">
    <button class="add-item-btn">
      +
      Add New Item
    </button>
  </a>
  <div class="inventory-search-container">
    <input  type="text" class="Inventory-search"
            placeholder="Search for anything here..">
    <a href=""><img src="/images/viewMedicine/search-vector.png" class="search-icon" alt=""></a>
  </div>


  <div class="content">

    <div class="med-and-Inven ">

      <div class="medilice">
        <div class="m-i-heading">
          <h3>Medicine</h3>
          <img class="pen-icon" src="/images/viewMedicine/pen.png" alt="">
        </div>

        <div class="m-id-container">
          <div>
            <h3 th:text="${medicine.medicineId}"></h3>
            <p>Medilice ID</p>
          </div>

          <div>
            <h3 th:text="${medicine.medicineName}"></h3>
            <p>Medicine Name</p>
          </div>
        </div>



      </div>

      <div class="inventory">

        <div class="m-i-heading">

          <h3>Inventory</h3>
          <p>Send A delivery Request</p>
        </div>
        <div class="m-id-container">
          <div>
            <h3 th:text="${medicine.quantity}"></h3>
            <p>Quantity Available</p>
          </div>
        </div>



      </div>

    </div>

    <div class="How-to-use">

      <h3>How to use</h3>
      <P th:text="${medicine.howToUse}"></P>

    </div>

    <div class="side-effects">
      <h3>Side Effects</h3>
      <p th:text="${medicine.sideEffects}"></p>
    </div>
    <form action="#" th:action="@{/pharmacy/deletemedicine/{medicineId}(medicineId=${medicine.medicineId})}" method="post">
      <button class="delete-m-btn">
        <img src="/images/viewMedicine/delete.png" class="delete-icon" alt="">
        Delete medicine
      </button>
    </form>
  </div>

</div>
</body>
</html>