<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pharmacy</title>
</head>
<body>
<a href="/pharmacy/dashboard">
  <button>Dashboard</button>
</a>
<a href="/pharmacy/viewinventory">
  <button>Inventory</button>
</a>
<a href="/pharmacy/viewpharmacy">
  <button>Pharmacy</button>
</a>
<a href="/pharmacy/viewprescriptions">
  <button>Prescriptions</button>
</a>
<a href="/pharmacy/vieworders">
  <button>Orders</button>
</a>
<a href="/pharmacy/chat">
  <button>Chat with customers</button>
</a>
<a href="/pharmacy/settings">
  <button>Application Settings</button>
</a>
<a href="/pharmacy/technicalhelp">
  <button>Get Technical help</button>
</a>
<a href="/logout">
  <button>Logout</button>
</a>
<h1>Pharmacy Details</h1>
<br><br>
<h2>Pharmacy name: </h2>
<h4 th:text="${pharmacy.pharmacyName}"></h4>
<br>
<h2>Owner name: </h2>
<h4 th:text="${pharmacy.ownerName}"></h4>
<br>
<h2>Contact number: </h2>
<h4 th:text="${pharmacy.contactNo}"></h4>
<br>
<h2>Registration Id: </h2>
<h4 th:text="${pharmacy.registrationId}"></h4>
<br>
</body>
</html>