<html>
<head>
  <title>Dashboard</title>
</head>

<link rel="stylesheet" href="/style/dashboard.css" />
<body>
<img
        src="/images/dashboard/PharmacyBG1.png"
        class="background"
        alt="Body Background Image"
/>

<div class="navBarContainer">

  <!-- setting the clicable dropdown -->
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">
      <!-- <button onclick="myFunction()" id="userIcon"> -->
      <!-- <img src="../images/profilePic.svg" id="userIcon" /> -->
      <img src="/images/dashboard/profilePic.svg" class="dropbtn" />
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a href="/pharmacy/viewpharmacy">My Profile</a>
      <a href="/logout">Logout</a>
      <!-- <a href="">Contact</a> -->
    </div>
  </div>

  <script>
    /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches(".dropbtn")) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    };
  </script>

  <!-- testing for notification -->
  <!-- testing for notification -->
  <div class="dropdownNotify">
    <button onclick="myFunctionNotify()" class="dropbtnNotify">
      <!-- <button onclick="myFunction()" id="userIcon"> -->
      <!-- <img src="../images/profilePic.svg" id="userIcon" /> -->
      <img
              src="/images/dashboard/notificationIcon.svg"
              class="dropbtnNotify"
      />
    </button>
    <div id="myDropdownNotify" class="dropdownNotify-content">
      <a href="">Message received from Customer 01.</a>
      <a href="">Customer 03 placed an order</a>
      <a href="">Admin : New features added. Click here to check.</a>
    </div>
  </div>

  <!-- end -->
  <script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunctionNotify() {
      document.getElementById("myDropdownNotify").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches(".dropbtnNotify")) {
        var dropdowns = document.getElementsByClassName(
                "dropdownNotify-content"
        );
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains("show")) {
            openDropdown.classList.remove("show");
          }
        }
      }
    };
  </script>

  <!-- <img src="../images/profilePic.svg" id="userIcon" />

  <img src="../images/notificationIcon.svg" id="notification" /> -->

  <div class="notification"></div>
</div>

<div class="dashDiscription">
  <h2>Technical Help</h2>
</div>

<!--
<div class="dashBoardDescriptionParagraph">
  A quick data overview of the inventory and Customers
</div> -->
<div class="sideBarContainer">
  <img src="/images/dashboard/pharmacyLogo.svg" class="logoIcon" />

  <div class="sideBarContainer">
    <img src="/images/dashboard/pharmacyLogo.svg" class="logoIcon" />

    <div class="sideBarButtonContainer">
      <a href="/pharmacy/dashboard">
        <button
                onclick="document.location='pharmacydashboard.html'"
                class="dashboardButton"
        >
          <div id="dashboardLine">Dashboard</div>
          <img
                  src="/images/dashboard/newDashboardIcon.svg"
                  id="dashboardButtonIcon"
          />
        </button>
      </a>

      <a href="/pharmacy/viewinventory">
        <button class="iventoryButton">
          <div id="iventoryLine">Inventory</div>
          <img
                  src="/images/dashboard/iventoryButton.svg"
                  id="iventoryButtonIcon"
          />
        </button>
      </a>
      <a href="/pharmacy/viewprescriptions">
        <button
                onclick="document.location='pharmacyviewprescriptions.html'"
                class="prescriptionsButton"
        >
          <div id="prescriptionLine">Prescriptions</div>
          <img
                  src="/images/dashboard/prescriptionButtonIcon.svg"
                  id="prescriptionButtonIcon"
          />
        </button>
      </a>
      <a href="/pharmacy/vieworders">
        <button class="customerChatButton">
          <img src="/images/dashboard/cart.svg" id="chatButtonIcon" />
          <div id="chatLine">Orders</div>
        </button>
      </a>

      <a href="/pharmacy/viewpharmacy">
        <button class="profileButton">
          <img src="/images/dashboard/profile.png" id="profileButtonIcon" />
          <div id="profileLine">Profile</div>
        </button>
      </a>

      <a href="/pharmacy/settings">
        <button class="applicationSettingsButton">
          <div id="applicationSettingsLine">Settings</div>

          <img
                  src="/images/dashboard/ApplicationSettingsICon.svg"
                  id="ApplicationSettingsICon"
          />
        </button>
      </a>
      <a href="/pharmacy/technicalhelp">
        <button class="getTechnicalHelpButton">
          <div id="getTechnicalHelpLine">Get Technical Help</div>
          <img src="/images/dashboard/gethelpIcon.svg" id="gethelpICon" />
        </button>
      </a>
      <a href="/logout">
        <button class="logOutButton">
          <div id="logOutLine">Log Out</div>
          <img src="/images/profile/logout.png" id="logOutIcon" />
        </button>
      </a>
    </div>
  </div>

  <div class="techhelpcontainer">
    <p>
    <h4>Technical Lead</h4>
    0112891709
    <br><br>
    <h4>Admin</h4>
    0112846603
    <br><br>
    <h4>Other</h4>
    0112842517
    <br><br>
    <h4>Technical Lead</h4>
    tecname@gmail.com
    <br><br>
    <h4>Admin</h4>
    adname@gmail.com
    <br><br>
    <h4>Other</h4>
    teamm01@gmail.com
    <br>
    teamm02@gmail.com
    <br>
    teamm03@gmail.com
    </p>
  </div>




  <!--<div class="statusCardContainer" id="statusCard3">-->
  <!--  <div class="statusCardHeader">Customer</div>-->
  <!--  <hr />-->
  <!--  &lt;!&ndash; <div class="statusCardLeftSideUp">Count</div> &ndash;&gt;-->
  <!--  <div class="statusCardLeftSideDown">Total no of Customers</div>-->
  <!--  &lt;!&ndash; <div class="statusCardRightSideUp">Count</div> &ndash;&gt;-->
  <!--  <div id="cardCountRightSideDown">Count</div>-->
  <!--</div>-->
  <footer>
    <div class="footerTextContainer">
      <div class="footerUp" id="footerUp">Powered by</div>
      <div class="footerDown">
        <b>Noobz69</b>
      </div>
    </div>
  </footer>

</body>
</html>
