<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Inventory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style/medicineList.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>
<body style="margin-top:0px;margin-left:0px;">
<div class="body" style="display:flex;flex-direction: row;">

    <div class="side-bar" style="background-color: #F2F2F2;width:290px;">

        <div class="logo" style="margin-bottom: 20px;">
            <img src="/images/medicineList/Logo2.png" alt="logo">
        </div>

        <div class="menu-items">
            <div class="menu-container">
                <div class="menu-item">
                    <a href="/pharmacy/dashboard">
                        <img src="/images/medicineList/Vector (1).png" style="vertical-align: middle;margin-right:10px;">
                        <div class="item-des">Dashboard</div>
                    </a>
                </div>

                <div class="menu-item-i">
                    <a href="/pharmacy/viewinventory">
                        <img src="/images/medicineList/Vector.png" style="vertical-align: middle;margin-right:10px;">
                        <div class="item-des" style="color: white;font-weight: 400;">Inventory
                        </div>

                        <div class="drop-down" style="vertical-align: middle;">
                            <img src="/images/medicineList/Vector-down.png">
                        </div>
                    </a>
                </div>

                <div class="menu-item">
                    <a href="/pharmacy/viewprescriptions">
                        <img src="/images/medicineList/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
                        <div class="item-des">Prescriptions</div>
                    </a>
                </div>

                <div class="menu-item">
                    <a href="/pharmacy/viewpharmacy">
                        <img src="/images/medicineList/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
                        <div class="item-des">Pharmacy</div>
                    </a>
                </div>

                <div class="menu-item">
                    <a href="/pharmacy/vieworders">
                        <img src="/images/medicineList/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
                        <div class="item-des">Orders</div>
                    </a>
                </div>

<!--                <div class="menu-item">-->
<!--                    <a href="/pharmacy/chat">-->
<!--                        <img src="/images/medicineList/Vector (4).png" style="vertical-align: middle;margin-right:10px;">-->
<!--                        <div class="item-des">Chat with Customers</div>-->
<!--                    </a>-->
<!--                </div>-->

                <div class="menu-item">
                    <a href="/pharmacy/settings">
                        <img src="/images/medicineList/Vector (2).png" style="vertical-align: middle;margin-right:10px;margin-left: 0px;">
                        <div class="item-des">Settings</div>
                    </a>
                </div>

                <div class="menu-item">
                    <a href="/pharmacy/technicalhelp">
                        <img src="/images/medicineList/Vector (5).png" style="vertical-align: middle;margin-right:10px;">
                        <div class="item-des">Get Technical Help</div>
                    </a>
                </div>

                <div class="menu-item">
                    <a href="/logout">
                        <img src="/images/medicineList/Vector (3).png" style="vertical-align: middle;margin-right:10px;">
                        <div class="item-des">Logout</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer">
            <img class="footer-image"
                 src="/images/medicineList/Powered by Noobz69.png">
        </div>
    </div>


    <div class="page-content" style=" flex: 1;height: 100%;position: relative;">
        <img class="bg-pic" src="/images/medicineList/Background.png">
        <div class="header">
            <div class="middle-section">
                <input class="bar" type="text" placeholder="Search for anything here..">
            </div>
            <div class="right-section">
                <img class="user-name" src="/images/medicineList/User.png" style="object-fit:cover;">
                <img class="user-img" src="/images/medicineList/noun-login-728843 1.png" style="object-fit:cover;">
                <img class="notifications-img" src="/images/medicineList/Rectangle 83.png" style="object-fit:cover;">
            </div>
        </div>
        <div class="des-panel">
            <div style="display: inline-block;color: #1D242E;">Inventory</div>
            <div class="arrow-btn">
                <img src="/images/medicineList/arrow-left.png" alt="" style="color: #1D242E;margin-left: 10px;margin-right: 10px;">
            </div>
            <div style="display: inline-block;color: #1D242E;">
            </div>
            List of Medicines
        </div>

        <div class="des-panel2">
            List Of medicines (Available and Currently Unavailable)
        </div>
        <a href="/pharmacy/addmedicine">
            <button class="add-item-btn">+ Add New Item</button>
        </a>
        <div class="inventory-search-container">
            <input type="text" class="Inventory-search" placeholder="Search for anything here..">
            <a href=""><img src="/images/medicineList/search-vector.png" class="search-icon" alt=""></a>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Medicine ID</th>
                    <th>Stock in Qty</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="medicine : ${medicineList}">
                    <tr>
                        <td th:text="${medicine.medicineName}"></td>
                        <td th:text="${medicine.medicineId}"></td>
                        <td th:text="${medicine.quantity}"></td>
                        <td>

                            <form action="#" th:action="@{/pharmacy/viewinventory/{medicineId}(medicineId=${medicine.medicineId})}" method="post">
                                <a><button>View full Details<ion-icon name="chevron-forward-outline"></ion-icon></button></a>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>