<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title th:text="${prescription.prescriptionId}">Prescription</title>
</head>

<link rel="stylesheet" href="/style/dashboard.css" />
<body>
<img
        src="/images/dashboard/PharmacyBG1.png"
        class="background"
        alt="Body Background Image"
/>

<div class="navBarContainer">
  <div class="wrap">
    <div class="search">
      <input
              type="text"
              class="searchTerm"
              placeholder="Search for anything here..."
      />
    </div>
  </div>
  <!-- setting the clicable dropdown -->
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">
      <!-- <button onclick="myFunction()" id="userIcon"> -->
      <!-- <img src="../../public/images//profilePic.svg" id="userIcon" /> -->
      <img
              src="/images/dashboard/profilePic.svg"
              class="dropbtn"
              height="10px"
              width="10px"
      />
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a href="">My Profile</a>
      <a href="/logout">Logout</a>
      <!-- <a href="">Contact</a> -->
    </div>
  </div>

  <script>
        /* When the user clicks on the button,
      toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches(".dropbtn")) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains("show")) {
                openDropdown.classList.remove("show");
              }
            }
          }
        };
      </script>

  <!-- testing for notification -->
  <div class="dropdownNotify">
    <button onclick="myFunctionNotify()" class="dropbtnNotify">
      <!-- <button onclick="myFunction()" id="userIcon"> -->
      <!-- <img src="../../public/images//profilePic.svg" id="userIcon" /> -->
      <img
              src="/images/dashboard/notificationIcon.svg"
              class="dropbtnNotify"
      />
    </button>
    <div id="myDropdownNotify" class="dropdownNotify-content">
      <a href="">Message received from Customer 01.</a>
      <a href="">Customer 03 placed an order</a>
      <a href="">Admin : New features added. Click here to check.</a>
    </div>
  </div>

  <!-- end -->
  <script>
        /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
        function myFunctionNotify() {
          document.getElementById("myDropdownNotify").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches(".dropbtnNotify")) {
            var dropdowns = document.getElementsByClassName(
              "dropdownNotify-content"
            );
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains("show")) {
                openDropdown.classList.remove("show");
              }
            }
          }
        };
      </script>

  <!-- <img src="../../public/images//profilePic.svg" id="userIcon" />

  <img src="../../public/images//notificationIcon.svg" id="notification" /> -->

  <div class="notification"></div>
</div>

<div class="dashDiscription">
  <h2>Prescription</h2>
</div>

<div id="dashBoardParagraph">Customer Requests</div>
<!--
<div class="dashBoardDescriptionParagraph">
  A quick data overview of the inventory and Customers
</div> -->
<div class="sideBarContainer">
  <img src="/images/dashboard/pharmacyLogo.svg" class="logoIcon" />

  <div class="sideBarButtonContainer">
    <a href="/pharmacy/dashboard">
      <button class="dashboardButton">
        Dashboard
        <img
                src="/images/dashboard/newDashboardIcon.svg"
                id="dashboardButtonIcon"
        />
      </button>
    </a>
    <a href="/pharmacy/viewinventory">
      <button class="iventoryButton">
        Iventory
        <img
                src="/images/dashboard/iventoryButton.svg"
                id="iventoryButtonIcon"
        />
      </button>
    </a>
    <a href="/pharmacy/viewpharmacy">
      <button class="pharmacyButton">
        Pharmacy
        <img
                src="/images/dashboard/newpharmacy.svg"
                id="pharmacyButtonIcon"
        />
      </button>
    </a>
    <a href="/pharmacy/viewprescriptions">
      <!-- <button class="prescriptionsButton"> -->
      <button class="prescriptionsButton">
        Prescriptions
        <img
                src="/images/dashboard/prescriptionButtonIcon.svg"
                id="prescriptionButtonIcon"
        />
      </button>
    </a>
    <a href="/pharmacy/vieworders">
      <button class="customerChatButton">
        <!-- Chat With Customer -->
        Orders
        <img
                src="/images/dashboard/chatButtonIcon.svg"
                id="chatButtonIcon"
        />
      </button>
    </a>
    <a href="/pharmacy/settings">
      <button class="applicationSettingsButton">
        Application Settings
        <img
                src="/images/dashboard/ApplicationSettingsICon.svg"
                id="ApplicationSettingsICon"
        />
      </button>
    </a>
    <a href="/pharmacy/technicalhelp">
      <button class="getTechnicalHelpButton">
        Get Technical Help
        <img src="/images/dashboard/gethelpIcon.svg" id="gethelpICon" />
      </button>
    </a>
  </div>
</div>
<div class="customerOrderContainer">
  <div class="prescriptionImageContainer">
    <img src="https://www.researchgate.net/publication/345830022/figure/fig4/AS:957640029003789@1605330583881/Sample-prescription-used-as-input-to-the-GUI-developed-in-the-present-work.png"
         id="prescriptionImg"
         alt="prescriptions"
    />
  </div>
  <div class="orderConfirmation">
    <div class="customerName" th:text="${prescription.prescriptionId}">Customer Name</div>
    <div class="orderType" th:text="${prescription.customerUsername}">Customer Username</div>
    <div class="orderDate" th:text="${prescription.date}">Date</div>
    <div class="pharmacyName" th:text="${prescription.status}">Status</div>
    <form action="#" th:action="@{/pharmacy/acceptprescription/{prescriptionId}(prescriptionId=${prescription.prescriptionId})}" th:object="${prescriptionForm}" method="post">
      <div class="addNewMEdicineFormContainer">
        <div class="medicineTextAreaContainer">
          <div class="medicinetextAreaUpper">Remarks</div>
          <div class="medicineTextAreaDown">
            <textarea id="medicineTextAreaContainer" th:field="*{remarks}"></textarea>
          </div>
        </div>
        <br>
        <div class="medicineTextAreaContainer2">
          <div class="medicinetextArea2Upper">Price</div>
          <div class="medicineTextArea2Down">
            <textarea id="medicineTextAreaContainer2" th:field="*{price}"></textarea>
          </div>
        </div>
        <input class="addNewMedicineBtn" type="submit" value="Accept Order">
      </div>
    </form>
  </div>
</div>
  <footer>
    <div class="footerTextContainer">
      <div class="footerUp" id="footerUp">Powered by</div>
      <div class="footerDown">
        <b>Noobz69</b>
      </div>
    </div>
  </footer>
</body>
</html>
