<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Technical help</title>
</head>
<body>
<a href="/pharmacy/dashboard">
  <button>Dashboard</button>
</a>
<a href="/pharmacy/viewinventory">
  <button>Inventory</button>
</a>
<a href="/pharmacy/viewpharmacy">
  <button>Pharmacy</button>
</a>
<a href="/pharmacy/viewprescriptions">
  <button>Prescriptions</button>
</a>
<a href="/pharmacy/vieworders">
  <button>Orders</button>
</a>
<a href="/pharmacy/chat">
  <button>Chat with customers</button>
</a>
<a href="/pharmacy/settings">
  <button>Application Settings</button>
</a>
<a href="/pharmacy/technicalhelp">
  <button>Get Technical help</button>
</a>
<a href="/logout">
  <button>Logout</button>
</a>
<h1>technical help</h1>
</body>
</html>